<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Jura|Saira|Raleway"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css"
    />
  </head>
  <body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navi">
      <div class="container">
        <button
          class="btn btn-light d-inline-block d-lg-none ml-auto"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-align-justify"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <i class="fas fa-code logo"></i>
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#projects">PROJECTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">CONTACT</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--End Navbar-->
    <section class="all-content">
      <div class="container-fluid banner-info">
        <h1 class="mt-3">
          Hello I'm <span class="name">Francisco Molina</span>
        </h1>
        <h1>Front-end Developer</h1>
        <p class="mt-3">
          Love creating beautiful, intuitive and responsive websites
        </p>
        <img src="/image/frank.png" alt="avatar" className="avatar-img my-5" />
      </div>
      <div class="container imgcov text-center">
        <img src="image/tech.png" alt="" />
      </div>
      <div class="container-fluid about py-5 text-center" id="about">
        <h1 class="my-2 wow animated slideInLeft">
          Let me tell you about myself
        </h1>
        <h2 class="wow animated fadeIn">
          Sowftare Engineering student from El Salvador, really passionate about
          web developing. Fast learner, great communication skills and most
          important, really confident about what I do. I'm always up for new
          challenges, we should definitively work together.
        </h2>
      </div>
      <div class="container skills text-center">
        <h1 class="wow animated slideInRight">Languages I speak</h1>
        <div class="row mt-5">
          <div class="col-md-4 first-lang">
            <i class="fab fa-html5 wow animated flipInX"></i>
            <div class="mt-3 wow animated fadeIn">
              <h2 class="info">HTML</h2>
              <h2 class="mt-3 test">
                Semantic markups, clean and well documented code.
              </h2>
            </div>
          </div>
          <div class="col-md-4 second-lang">
            <i class="fab fa-css3-alt wow animated flipInX"></i>
            <div class="mt-3 wow animated fadeIn">
              <h2 class="info">CSS3</h2>
              <h2 class="mt-3 test">
                Experienced in both CSS3 and Bootstrap Framework. Responsive
                designs that work on any device.
              </h2>
            </div>
          </div>
          <div class="col-md-4 third-lang">
            <i class="fab fa-js-square wow animated flipInX"></i>
            <div class="mt-3 wow animated fadeIn">
              <h2 class="info">Javascript</h2>
              <h2 class="mt-3">
                Vanilla Javascript DOM manipulation as well as Javascript
                libraries such as React js.
              </h2>
            </div>
          </div>
        </div>
        <p class="mt-5 morek wow animated fadeIn">
          Other than that, I have experience working with version control
          systems such as Git and different development tools such as VsCode,
          Atom, among others. Eventhough I'm a front-end developer I've worked
          in back-end with Node js and frameworks such as Express.
        </p>
      </div>
      <div class="container projects text-center" id="projects">
        <h1 class="wow animated slideInLeft">My Projects</h1>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <div class="hovereffect my-5">
              <img
                class="img-responsive"
                src="image/date.png"
                alt=""
                style="width: 100%;"
              />
              <div class="overlay">
                <h2>Website project from the university as a social network</h2>
                <a class="info" href="http://date-u.herokuapp.com/"
                  >Live demo</a
                >
                <a class="info ml-3" href="http://date-u.herokuapp.com/"
                  >Github</a
                >
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <div class="hovereffect my-5">
              <img
                class="img-responsive"
                src="image/motion.png"
                alt=""
                style="width: 100%;"
              />
              <div class="overlay">
                <h2>Full Motion website, native grid layout</h2>
                <a class="info" href="#">Live demo</a>
                <a class="info ml-3" href="http://date-u.herokuapp.com/"
                  >Github</a
                >
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <div class="hovereffect my-5">
              <img
                class="img-responsive"
                src="image/port1.png"
                alt=""
                style="width: 100%;"
              />
              <div class="overlay">
                <h2>Website project from the university as a social network</h2>
                <a class="info" href="http://date-u.herokuapp.com/"
                  >Live demo</a
                >
                <a class="info ml-3" href="http://date-u.herokuapp.com/"
                  >Github</a
                >
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <div class="hovereffect my-5">
              <img
                class="img-responsive"
                src="image/d2.png"
                alt=""
                style="width: 100%;"
              />
              <div class="overlay">
                <h2>Website project from the university as a social network</h2>
                <a class="info" href="http://date-u.herokuapp.com/"
                  >Live demo</a
                >
                <a class="info ml-3" href="http://date-u.herokuapp.com/"
                  >Github</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="foot text-center" id="contact">
      <h1 class="my-3">Let's work together!</h1>
      <button class="btn btn-outline-primary my-3">Contact me</button>
      <ul class="social my-3">
        <li>
          <a href="https://github.com/f-molina" class="icons"
            ><i class="fab fa-github"></i
          ></a>
        </li>
        <li>
          <a href="/" class="icons"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a href="/" class="icons"><i class="far fa-envelope"></i></a>
        </li>
      </ul>
      <p class="mt-3">© Francisco Molina 2019</p>
    </footer>
  </body>
  <!--Scripts-->
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
  <script>
    new WOW().init();
  </script>
</html>
