<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Jura|Saira"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <button
          class="btn btn-light d-inline-block d-lg-none ml-auto"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-align-justify"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <h6 class="lyric">FM</h6>
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
            <li class="nav-item"><a class="nav-link" href="#projects">Projects</a></li>
            <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!--End Navbar-->
    <section class="all-content">
      <div class="container banner-info">
        <h1 class="mt-3">Front-end Developer</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <img src="/image/frank.png" alt="avatar" className="avatar-img" />
      </div>
      <div class="container-fluid about my-3 py-5 text-center" id="about">
        <h1 class="my-2">Let me tell you about myself</h1>
        <h2>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit quos sed
          qui in facere animi placeat numquam est aliquid id, cumque tenetur
          ullam veniam, corporis hic laudantium obcaecati magni ducimus.
        </h2>
      </div>
      <div class="container skills py-5 text-center">
        <h1 class="my-2">Languages I speak</h1>
        <div class="row mt-5 languages">
          <div class="col-md-4">
            <i class="fab fa-html5"></i>
            <h2 class="mt-3">HTML5</h2>
            <h2>Lorem ipsum dolor, ntium placeat in sint officiis</h2>
          </div>
          <div class="col-md-4">
            <i class="fab fa-css3-alt"></i>
            <h2 class="mt-3">CSS3</h2>
            <h2>Lorem ipsum dolor, ntium placeat in sint officiis</h2>
          </div>
          <div class="col-md-4">
            <i class="fab fa-js-square"></i>
            <h2 class="mt-3">Javascript</h2>
            <h2>Lorem ipsum dolor, ntium placeat in sint officiis</h2>
          </div>
        </div>
      </div>
      <div class="container projects my-5 text-center" id="projects">
        <h1 class="my-2">My Projects</h1>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <div class="hovereffect my-5">
              <img
                class="img-responsive"
                src="image/dateu.png"
                alt=""
                style="width: 100%;"
              />
              <div class="overlay">
                <h2>Website project from the university as a social network</h2>
                <a class="info" href="http://date-u.herokuapp.com/"
                  >Live demo</a
                >
                <a class="info ml-3" href="http://date-u.herokuapp.com/"
                  >Github</a
                >
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <div class="hovereffect my-5">
              <img
                class="img-responsive"
                src="image/motion.png"
                alt=""
                style="width: 100%;"
              />
              <div class="overlay">
                <h2>Full Motion website, native grid layout</h2>
                <a class="info" href="#">Live demo</a>
                <a class="info ml-3" href="http://date-u.herokuapp.com/"
                  >Github</a
                >
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
              <div class="hovereffect my-5">
                <img
                  class="img-responsive"
                  src="image/dateu.png"
                  alt=""
                  style="width: 100%;"
                />
                <div class="overlay">
                  <h2>Website project from the university as a social network</h2>
                  <a class="info" href="http://date-u.herokuapp.com/"
                    >Live demo</a
                  >
                  <a class="info ml-3" href="http://date-u.herokuapp.com/"
                    >Github</a
                  >
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="hovereffect my-5">
                  <img
                    class="img-responsive"
                    src="image/dateu.png"
                    alt=""
                    style="width: 100%;"
                  />
                  <div class="overlay">
                    <h2>Website project from the university as a social network</h2>
                    <a class="info" href="http://date-u.herokuapp.com/"
                      >Live demo</a
                    >
                    <a class="info ml-3" href="http://date-u.herokuapp.com/"
                      >Github</a
                    >
                  </div>
                </div>
              </div>
        </div>
      </div>
    </section>
    <footer class="foot text-center" id="contact">
      <h1 class="my-3">Let's work together!</h1>
      <button class="btn btn-outline-primary my-3">Contact me</button>
      <ul class="social my-3">
        <li><a href="/"class="icons"><i class="fab fa-github"></i></a></li>
        <li><a href="/" class="icons"><i class="fab fa-instagram"></i></a></li>
        <li><a href="/" class="icons"><i class="far fa-envelope"></i></a></li>
      </ul>
      <p class="mt-3">© Francisco Molina 2019</p>
    </footer>
  </body>
  <!--Scripts-->
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>
</html>
