.all-content h1, h2{
  line-height: 1.5;
}

.nav-item a,
.logo {
  color: #fff;
}

.nav-item a:hover {
  color: #ff69b4;
}

.banner-info h1,
.skills h1,
.projects h1,
.name {
  font-family: "Saira", sans-serif;
  color: #293347;
  font-weight: bold;
}

.navi {
  background: #1b242f;
}

.banner-info h1 {
  color: black;
  font-size: 3em;
}

.banner-info p,
.about h1,
h2,
.foot,
.overlay a,
.morek {
  font-family: "Raleway", sans-serif;
  font-size: 1.1em;
}

.banner-info {
  text-align: center;
  padding: 5.5em 0;
}

.banner-info img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-top: 2em;
}

.about,
.foot {
  background: #1b242f;
  color: white;
}

.about h1,
.skills h1,
.projects h1 {
  font-weight: 800;
  font-size: 2em;
}

.about h2 {
  padding: 1em 9em;
}

.skills i {
  font-size: 5em;
  color: #8c43ff;
}

.btn.btn-light.d-inline-block.d-lg-none.ml-auto {
  font-size: 2em;
  color: white;
  background: #1b242f;
}

.img-responsive,
.hovereffect {
  border-radius: 8px;
}

.projects,
.skills {
  margin-top: 7.2em;
  margin-bottom: 7.2em;
}

.foot {
  padding: 15px 0;
}

.foot p {
  font-size: 0.6em;
}

ul.social li {
  display: inline-block;
  padding-right: 1em;
}

.icons {
  border: 2px solid white;
  border-radius: 100%;
  font-size: 1.8em;
  display: inline-block;
  width: 50px;
  height: 50px;
  color: white;
  text-decoration: none;
}

.icons:hover,
.btn-outline-primary:hover {
  box-shadow: 0px 2px 20px 0px rgba(0, 255, 212, 0.5);
  background: white;
  color: #1b242f;
}

.btn-outline-primary {
  color: white;
  border-color: white;
}

/*animations*/
.first-lang i,
h2 {
  animation-delay: 0.3s;
}

.second-lang i,
h2 {
  animation-delay: 0.6s;
}

.third-lang i,
h2 {
  animation-delay: 0.9s;
}

.wow .info {
  font-weight: bolder;
}

.first-lang h2,
.second-lang h2,
.third-lang h2,
.morek {
  color: #293347;
  font-weight: 500;
}

@media (max-width: 769px) {
  .about h2 {
    padding: 0;
    margin-top: 2em;
  }
  .test {
    margin-bottom: 3em;
  }
  .imgcov img{
    max-width: 100%;
  }
}

/*hover image effects*/
/*
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 80%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translatey(-100px);
  -ms-transform: translatey(-100px);
  transform: translatey(-100px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 10px;
}

.hovereffect a.info {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 180px 0 0;
  padding: 7px 14px;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}

.hovereffect:hover h2,
.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: translatey(0);
  -webkit-transform: translatey(0);
  transform: translatey(0);
}

.hovereffect:hover a.info {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
*/

/*hover effect v2*/
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #fff;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.hovereffect a {
  color: #fff;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.hovereffect:hover a,
.hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  font-weight: bolder;
  margin-top: 3.5em;
}
